.detailContainer {
    width: 700px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.25);
}

.detail {
    margin: 5px 0;
    color: #6a6a6a;
}


.detailContainer .detailTitle {
    margin: 30px 0 10px 0;
    font-size: 30px;
}

.detailContainer .detailGenres {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.detailContainer .detailGenre {
    margin-right: 8px;
    font-style: italic;
}


.detailContainer .btnGoSite {
    text-decoration: none;
    color: #222;
    border-radius: 2px;
    border: 1px solid #222;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    padding: 2px 5px;
    margin: 50px 0 0;
}


.cardDetail.card  {
    display: flex;
    width: 1000px !important;
    margin: 100px auto;
    align-content: space-between;
    flex-direction: row;
    align-items: center;
}

.detailGenres.detail {
    padding-left: 0;
    font-style: italic;
}
